/* style.css */
/* colour variables */
:root {
    --primary-color: #780e1b;
    --dark-blue: #0b58a3;
    --light-blue: #86c0e4;
    --yellow: #f4ec44;
    --secondary-color: #FFFFF4;
    --text-color: #121212;
    --text-color-light: #7a7a7a;

    --font-family: 'Roboto Serif', 'sans-serif', 'Impact';
    --font-bold: 'Impact';
    --font-text: 'Roboto Serif, sans-serif';
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 11;
}

.hamburger-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 75px;
    z-index: 10;
}

.hamburger-logo {
    height: 75%;
    aspect-ratio: 1 / 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.hamburger-4v-logo {
    width: 100%;
    height: 100%;
}

.hamburger-icon {
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.hamburger-menu {
    display: none;
}

.active {
    display: block;
}

.hamburger-menu ul {
    list-style-type: circle;
    padding: 10px 0px 5px 25px;
    margin: 0;
}

.hamburger-menu li {
    margin: 10px 0;
}


.hamburger-menu li.current {
    list-style: disc;
}

.hamburger-menu a {
    color: var(--light-blue);
    text-decoration: none;
}

.hamburger-menu a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

.hamburger-menu .current a {
    color: var(--dark-blue);
    text-decoration: underline;
}

.line {
    display: none;
    width: 100%;
    height: 10px;
    background-color: var(--primary-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding: 20px;
}

.header-logo {
    width: 120px;
    height: 120px;
}

@media (max-width: 925px) {
    .hamburger {
        display: flex;
    }

    header {
        display: none;
    }

    .line {
        display: block;
    }
}

.navigator {
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.navigator nav {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navigator ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigator .current a {
    color: var(--dark-blue);
    text-decoration: underline;
}

.navigator li {
    margin-right: 20px;
}

.navigator a {
    color: var(--secondary-color);
    text-decoration: none;
}

.navigator a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

.title {
    margin-top: 2px;
    position: relative;
}

.banner-img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position-y: -80px;
}

.title-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 5em;
    font-family: var(--font-bold);
    padding-top: 250px;
    margin: 0;
    color: var(--secondary-color);
}

.title .description {
    font-size: 1.4em;
    font-weight: normal;
    font-family: var(--font-text);
    color: var(--text-color);

    background-color: var(--secondary-color);
    margin-top: 20px;
    margin-left: 15%;
    padding: 25px 47.5px;
    width: 30%;
}

.description-mobile {
    font-size: 1.4em;
    font-weight: normal;
    font-family: var(--font-text);
    color: var(--text-color);
    display: none;
}

@media (max-width: 925px) {

    .title h1 {
        font-size: 3em;
        padding-top: 30%;
    }

    .title .description {
        width: 90%;
        margin-left: 5%;
        padding: 20px;
        display: none;
    }

    .description-mobile {
        display: block;
        font-size: 1.2em;
        padding: 10px;
        margin-top: 50px;
        text-align: left;
        width: 90%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

    }

    footer {
        height: auto;
    }
}

.content {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    text-align: center;
    flex: 1;
}

.content h2 {
    font-family: var(--font-bold);
    color: var(--text-color-light);
    font-size: 2.5em;
}

.content p {
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 1.6;
}

.content a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

.partner {
    max-height: 175px;
}

.presentationcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1140px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.presentationcontainer h4 {
    font-family: var(--font-text);
    color: var(--text-color-light);
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.imgleft {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.imgright {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.presentation {
    width: 100%;
}

.presentation h3 {
    font-family: var(--font-bold);
    color: var(--text-color-light);
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.presentation a {
    font-family: var(--font-text);
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: bold;
}

.presentation p {
    font-family: var(--font-text);
    color: var(--text-color-light);
    font-size: 1.2em;
}

.presentation-text {
    padding: 40px;
}

.flex-50 {
    width: 50%;
}

.presentation .flex-50:has(img) {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.presentation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal:hover {
    cursor: zoom-out;
}

.modal-content {
    margin: auto;
    margin-top: 1%;
    display: block;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.modal-content:hover {
    cursor: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.schlaget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.schlaget {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.stream {
    aspect-ratio: 16 / 9;
    width: 100%;
    border: none;
}

.schlaget-text {
    padding: 5%;
    padding-bottom: 0;
    margin-bottom: 2%;
    text-align: left;
}

.schlaget-text h3 {
    font-family: var(--font-bold);
    color: var(--text-color-light);
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.schlaget-text p {
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: 1.6em;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 0;
}

.schlaget-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.schlaget-logo img {
    width: 150px;
    height: auto;
}

.evenemang-container {
    width: 100%;
    text-align: center;
    flex: 1;
}

.evenemang-container h2 {
    font-family: var(--font-bold);
    color: var(--text-color-light);
    font-size: 2.1em;
}

.evenemang-container p {
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 5px;
    margin-bottom: 5px;
}

.evenemang {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    text-align: left;
    height: 500px;
    max-width: 1140px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    padding-top: 220px;
}


.event-nolleP {
    background-image: url("media/events/nolleP.webp");
}
.event-schlaget {
    background-image: url("media/events/schlaget.webp");
}
.event-krabollen {
    background-image: url("media/events/krabollen.webp");
}
.event-badtaste {
    background-image: url("media/events/badtaste.webp");
}
.event-semmelfrossan {
    background-image: url("media/events/semmelfrossan.webp");
}
.bg-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.bg-parallax > * {
    position: relative;
    z-index: 2;
}

.evenemang h3 {
    font-family: var(--font-bold);
    color: var(--yellow);
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.evenemang p {
    font-family: var(--font-text);
    color: var(--secondary-color);
    font-size: 1.5em;
    line-height: 1.6;
}

.evenemang img {
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.vilingimg {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: auto;
}

.heaven-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
}


.heaven-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.heaven {
    display: flex;
    flex-direction: column-reverse;
    width: 40%; 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px;
    margin-bottom: 10px;
    padding: 20px;
}

.heaven h3 {
    font-family: var(--font-bold);
    color: var(--text-color-light);
    font-size: 1.8em;
    margin-top: 12px;
    margin-bottom: 0px;
    text-align: center;
}

.patet-img {
    width: 97%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
    font-family: var(--font-text);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 525px) {
    footer {
        flex-direction: column;
    }
}

footer p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;


    font-family: var(--font-text);
    font-size: 1em;
    color: var(--secondary-color);
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
}

footer a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

footer img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-left: 10px;
}

/* Mobile responsive styles */
@media (max-width: 925px) {
    .imgleft {
        flex-direction: column;
    }
    
    .imgright {
        flex-direction: column;
    }

    .presentation {
        max-width: 570px;
    }

    .flex-50 {
        width: 100%;
    }

    .evenemang {
        margin-left: 4%;
        margin-right: 4%;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
    }

    .vilingimg {
        margin: auto;
        margin-bottom: 50px;
    }

    /* Heaven divs responsive styles */
    .heaven {
        width: 80%;
        min-width: 300px;
        max-width: 600px;
    }

    .patet-img {
        width: 100%;
    }
}